body {
  margin: 0 auto;
  padding: 0;
  background-color: darkolivegreen;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.container {
  padding: 5px;
  max-width: 1000px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
}

h2 {
  text-align: center;
  font-size: 3em;
}

.titulo {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

li {
  list-style: none;
  font-size: 32px;
}

.login {
  text-transform: uppercase;
  font-weight: bold;
}

img {
  border: 2px solid red;
  border-radius: 10px;
}

table {
  width: 100%;
}

table#alter tr td {
  background: #ffc;
  text-align: center;
}

table#alter tr.dif td {
  background: #eee;
}

/* botao */

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  color: black;
  outline: 0;
  cursor: pointer;
}

.align-btn {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

table th {
  font-size: 1.8em;
}

/* modal */

.modalDialog {
  position: fixed;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  font-size: 1.8em;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

a.close {
  text-decoration: none;
}

.alignClose {
  margin-left: 96%;
  margin-top: 5px;
}

/* busca filtrada*/

.busca {
  padding: 10px;
  font-size: 1.2em;
  display: flex;
}

.search-user {
  margin: 5px;
  height: 50px;
  width: 60%;
  font-size: 1.8em;
  padding: 5px;
  border: none;
  border-bottom: 3px solid black;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  border-bottom: 3px solid black;
  outline: 0;
}

.btn-v {
  background: black;
  margin-top: 10px;
}

.btn-v:hover {
  color: yellowgreen;
  border: 2px solid yellowgreen;
}

.busca label {
  vertical-align: text-bottom;
  font-size: 1em;
  margin-top: 40px;
}

.busca strong {
  margin: auto;
}